BasedOnStyle: LLVM
ColumnLimit: 120
IndentWidth: 4
ContinuationIndentWidth: 4
AlignAfterOpenBracket: BlockIndent
AllowAllParametersOfDeclarationOnNextLine: false
BreakConstructorInitializers: AfterColon
BinPackArguments: false
BinPackParameters: false
AlignOperands: Align
PenaltyBreakAssignment: 50
PenaltyBreakBeforeFirstCallParameter: 0
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: false
BreakBeforeBinaryOperators: None
SpaceAfterCStyleCast: true
